@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    ViewData["Title"] = "Error";
}
<div class="card">
    <h2>Something went sideways</h2>
    <p>The app hit an error. Which, in fairness, is how software says hello.</p>
</div>
