@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">MTS2 Razor Pages</h1>
    <p>Containerized ASP.NET Core Razor Pages app is running.</p>
</div>
